.hero {
  text-align: center;
  @include breakpoint-up(medium) {
    height: 800px;
  }

  .container {
    // border: 1px solid red;
  }

  &__image {
    background-color: $darkBlue-intro;
    background-image: url("/images/bg-curvy-mobile.svg");
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 356px;

    @include breakpoint-up(medium) {
      background-image: url("/images/bg-curvy-desktop.svg");
      height: 656px;
    }
    img {
      margin-top: 1.5rem;
      width: 308px;

      @include breakpoint-up(medium) {
        width: 450px;
      }
    }
  }
  &__text {
    position: relative;
    top: -60px;
    @include breakpoint-up(medium) {
      top: -230px;
      max-width: 650px;
      margin: 0 auto;
    }
    h1 {
      font-weight: 700;
      font-size: 1.48rem;
      line-height: 1.5;

      @include breakpoint-up(medium) {
        font-size: 1.7rem;
      }

      @include breakpoint-up(large) {
        font-size: 2rem;
      }
    }

    p {
      line-height: 1.5;
      margin-bottom: 30px;

      @include breakpoint-up(medium) {
        line-height: 1.7;
        width: 430px;
        margin: 25px auto;
        font-size: 0.95rem;
      }
    }
  }
}
